body {
    background-color: black;
    text-align: center;
}

header {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.soon {
    text-align: center;
}

.soon a {
    color: aquamarine;
    font-size: 16px;
}

.heading {
    font-family: verdana;
    font-weight: 300px;
    font-size: 42px;
    color: white;
}

.interest {
    font-family: Verdana;
    font-size: 20px;
    color: gray;
}

#phone {
    display: block;
    margin: auto;
    margin-top: 20px;
}

footer p {
    text-align: right;
    color: gray;
}